.page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    padding-top: 25vh;
    padding-bottom: 300px;
}

.text-container
{
    font-size: 36px;
    font-weight: bold;
    color: #2f3b7b;
    margin-bottom: 75px;
    text-align: center;
    background-color: rgba(251, 234, 235, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
}

.card-container
{
    display: flex;
    gap: 150px;
}

.card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #2F3C7E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

    .card img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .card::before,
    .card::after
    {
        position: absolute;
        content: "";
        width: 20%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        background-color: #f9ebeb;
        transition: all 0.5s;
    }

    .card::before
    {
        top: 0;
        right: 0;
        border-radius: 0 15px 0 100%;
    }

    .card::after
    {
        bottom: 0;
        left: 0;
        border-radius: 0 100% 0 15px;
    }

.card-cat:hover::before,
.card-cat:hover::after
{
    color: #2f3b7b;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card-cat:hover::after
{
    content: "CATS";
}

.card-dog:hover::before,
.card-dog:hover::after
{
    color: #2f3b7b;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card-dog:hover::after
{
    content: "DOGS";
}

.card-bird:hover::before,
.card-bird:hover::after
{
    color: #2f3b7b;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card-bird:hover::after
{
    content: "BIRDS";
}

.card-small-mammals:hover::before,
.card-small-mammals:hover::after
{
    color: #2f3b7b;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card-small-mammals:hover::after
{
    content: "SMALL MAMMALS";
}


button
{
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #2F3C7E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}