.pet-details-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251, 234, 235, 0.5); /* Adjust opacity as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    max-width: 800px; /* Set the maximum width */
    margin: 100px auto; /* Add space between the container and the navbar/footer */

}
    .pet-details-container h2
    {
        font-size: 30px; /* Increase font size */
        font-weight: bold; /* Make it bold */
        color: #2F3C7E; /* Change color */
    }
    .pet-details-container .image-container
    {
        margin-top: 50px;
    }

        .pet-details-container .image-container img
        {
            max-width: 200px;
            height: auto;
            border-radius: 10px; /* Add rounded corners to the image */
        }

    .pet-details-container .details
    {
        text-align: center;
        margin-top: 30px;
    }

    .pet-details-container button
    {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        .pet-details-container button:hover
        {
            background-color: #45a049;
        }
button
{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    button:hover
    {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    button:active
    {
        transform: translateY(-1px);
    }