.contact-container
{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #FBEAEB;
}

.title
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2F3C7E;
}

.contact-info
{
    margin-bottom: 20px;
}

.form-group
{
    margin-bottom: 20px;
    text-align: center;
}

    .form-group label
    {
        display: block;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group textarea
    {
        width: calc(100% - 20px); /* Adjust width as needed */
        max-width: 100%; /* Ensure it doesn't exceed the container's width */
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #fcf5f5;
    }

    .form-group textarea
    {
        resize: none;
        overflow-y: hidden;
    }

    .form-group button
    {
        padding: 10px 20px;
        background-color: #2F3C7E;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.center-text
{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.success-message
{
    color: green;
    font-weight: bold;
    margin-top: 10px;
}