
html, body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.pet-container
{
    border-radius: 20px; /* rounded corners */
    background-color: rgba(251, 234, 235, 0.9);
    padding: 20px; /* inner spacing */
    max-width: 1400px; /* max width (adjust later) */
    margin: 40px auto; /* center horizontally with top/bottom spacing */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* subtle shadow */
}
.filter-container
{
    display: flex;
    justify-content: left;
}
.filter-label
{
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 16px;
}
.pet-card-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 60px;
    justify-content: center; 
    justify-items: center;
    padding: 50px;
}

.pet-card
{
    background-color: #fff;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid #2F3C7E;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
    transition: transform 0.5s ease;
}
    .pet-card:hover
    {
        transform: rotate(1deg) scale(1.05);
    }
.pet-image
{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.pet-name
{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #FBEAEB;
    color: #2F3C7E;
}

.no-image-text
{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #888;
    text-align: center;
}

button[type="submit"]:not(.logout-button)
{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2F3C7E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.6);
}

    button[type="submit"]:not(.logout-button):hover
    {
        background-color: #1e2654;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.12);
    }


.select
{
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: #FBEAEB;
    overflow: hidden;
}

.selected
{
    background-color: #2F3C7E;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow
{
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: black;
    z-index: 100000;
    transition: 300ms;
}

.options
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2F3C7E;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
}

.select:hover > .options
{
    opacity: 1;
    top: 0;
}

.select:hover > .selected .arrow
{
    transform: rotate(0deg);

}

.option
{
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2F3C7E;
    width: 150px;
    font-size: 15px;
}

    .option:hover
    {
        background-color: #4759b5;
    }

.options input[type="radio"]
{
    display: none;
}

.options label
{
    display: inline-block;
}

    .options label::before
    {
        content: attr(data-txt);
    }

.options input[type="radio"]:checked + label
{
    display: none;
}

.options input[type="radio"]#all:checked + label
{
    display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before
{
    content: attr(data-default);
}

.select:has(.options input[type="radio"]#option-1:checked) .selected::before
{
    content: attr(data-one);
}

.select:has(.options input[type="radio"]#option-2:checked) .selected::before
{
    content: attr(data-two);
}

.select:has(.options input[type="radio"]#option-3:checked) .selected::before
{
    content: attr(data-three);
}
.filter-wrapper
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.match-description
{
    text-align: center;
    font-size: 16px;
    color: #2F3C7E;
    margin-left: 220px;
    margin-right: auto;
    line-height: 1;
}

