.box-container
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(251, 234, 235, 0.90);
}

.box
{
    flex: 0 0 calc(50% - 20px);
    overflow: hidden;
}

    .box img
    {
        max-width: 100%;
        border-radius: 10px;
    }

.box-content
{
    padding: 0 20px;
}

.adoption-info
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FBEAEB;
}

    .adoption-info p
    {
        margin-bottom: 10px;
        font-weight: bold;
    }

#adoption-count
{
    font-weight: bold;
    color: #2F3C7E;
    font-size: 25px;
}

.centered-title
{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    line-height: 1.2;
    color: #2F3C7E;
    padding-top: 10px;
}

.content p
{

    line-height: 1.6; 
}

.highlighted-text
{
    font-weight: bold;
    color: #2F3C7E;
    font-size: 2rem; 
}

.intro-paragraph
{
    font-size: 1.5rem; 
    line-height: 1.6;
    color: #333333;
    margin-top: 90px;
    margin-bottom: 20px;
    max-width: 800px;
}