.support-container
{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #FBEAEB;
}

.title
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2F3C7E;
}

.box
{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fcf5f5;
    text-align: center;
}

    .box h2
    {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .box p
    {
        margin-bottom: 10px;
    }

    .box button
    {
        padding: 10px 20px;
        background-color: #2F3C7E;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .box button:hover
        {
            background-color: #1E2656;
        }

.center-text
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

button.button,
a.button
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2F3C7E; 
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

    a.button:hover,
    button.button:hover
    {
        background-color: #005c99;
    }