@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .container
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            height: calc(100vh - 60vh);
            text-align: center;
        }

        h1
        {
            font-weight: bold;
        }

        p
        {
            margin: 1em 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</body>
</html>
