@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\home.css">
    <title>Home</title>
</head>
<body>
    <div class="content">
        <div class="box-container">
            <div class="box">
                <img src="./uploads/Index/index_cat.jpg" alt="First Photo">
            </div>
            <div class="box box-content">
                <p>
                    Welcome to our adoption center website, where every tail wags and every purr resonates with hope! At
                    our center, we believe in finding forever homes for every furry friend in need.
                    Our mission is simple: to match loving animals with compassionate humans, creating bonds that last a
                    lifetime.
                </p>
                <p>
                    With a plethora of adorable pets eagerly awaiting their second chance, our website serves as a
                    virtual gateway to the hearts of these precious companions.
                    From playful kittens to wise old dogs, we have a diverse range of animals ready to become cherished
                    members of your family.
                </p>
                <p>
                    Navigating our website is as easy as scratching behind a cat's ear! Browse through our profiles,
                    each showcasing the unique personality and charm of our furry residents.
                    Whether you're searching for a cuddly companion or an energetic playmate, we're here to help you
                    find the perfect match.
                </p>
                <p>
                    But our commitment doesn't end with the adoption process. We provide ongoing support and resources
                    to ensure a smooth transition for both you and your new pet.
                    From training tips to health advice, our team is dedicated to making your adoption experience as
                    joyful and fulfilling as possible.
                </p>
                <p>
                    So why wait? Start your journey to unconditional love today by exploring our adoption center
                    website. Together, we can make a difference—one paw at a time.
                </p>

            </div>
        </div>
        <div class="adoption-info">
            <p>ADOPTIONS IN 2024: <span id="adoption-count">32</span></p>
            <p>ADOPTIONS SINCE 2015: <span id="adoption-count">1,204</span></p>
            <p>SPAYS/NEUTERS FACILITATED IN 2024: <span id="adoption-count">57</span></p>
            <p>SPAYS/NEUTERS FACILITATED SINCE 2024: <span id="adoption-count">3,345</span></p>
        </div>

        <div class="box-container">
            <div class="box box-content">
                <p>
                    As you delve deeper into our website, you'll discover heartwarming success stories that showcase the
                    transformative power of adoption.
                    From shy strays blossoming into confident companions to neglected pets finding newfound joy in
                    loving homes, these tales inspire and remind us of the profound impact we can make when we open our
                    hearts and homes to animals in need.
                </p>
                <p>
                    Our commitment to animal welfare extends beyond just adoptions. We actively promote responsible pet
                    ownership through education and community outreach programs. By advocating for spaying and
                    neutering, promoting microchipping,
                    and offering low-cost vaccination clinics, we strive to create a safer and healthier environment for
                    pets everywhere.
                </p>
                <p>
                    Join our community of animal lovers and advocates by becoming a volunteer or donor. Your support
                    helps us continue our vital work, ensuring that every animal receives the care and love they
                    deserve.
                    Whether you lend a helping hand at our center, donate supplies, or contribute financially, you're
                    making a tangible difference in the lives of animals in need.
                </p>
                <p>
                    At our adoption center, we believe in the power of compassion and connection to create a brighter
                    future for both animals and humans alike. Together, let's write more happy endings and make the
                    world a better place—one adoption at a time.
                    Thank you for visiting our website and considering opening your heart and home to a furry friend in
                    need.
                </p>
            </div>
            <div class="box">
                <img src="./uploads/Index/index_dog.jpg" alt="Second Photo">
            </div>
        </div>
</body>
</html>
