@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\home.css">
    <title>Home</title>
</head>
<body>
    <div class="content">
        <div class="box-container">
            <div class="box">
                <img src="./uploads/Index/index_cat.jpg" alt="First Photo">
            </div>
            <div class="box box-content">
                <h1 class="centered-title">Find your perfect pet match!</h1>
                <p class="intro-paragraph">
                    At <span class="highlighted-text">FurEver Together</span>, we believe that adopting a pet is more than just finding a furry friend—it’s about finding a true companion who fits your unique personality and lifestyle. Every person has their own rhythm, energy, and way of connecting with the world, and the same goes for every pet. That’s why we’ve designed a thoughtful matching process that goes beyond looks and basic preferences.
                </p>
            </div>


        </div>
        <div class="adoption-info">
            <p>ADOPTIONS IN 2024: <span id="adoption-count">@ViewData["Adoptions2024"]</span></p>
            <p>ADOPTIONS SINCE 2015: <span id="adoption-count">@ViewData["AdoptionsAllTime"]</span></p>
            <p>SPAYS/NEUTERS FACILITATED IN 2024: <span id="adoption-count">0</span></p>
            <p>SPAYS/NEUTERS FACILITATED SINCE 2024: <span id="adoption-count">0</span></p>
        </div>

        <div class="box-container">
            <div class="box box-content">
                <h1 class="centered-title">Choose your furry friend!</h1>
                <p class="intro-paragraph">
                    We know that bringing a pet into your life is a big decision filled with excitement and love. Whether you’re seeking a playful pup to join your morning jogs or a calm companion to curl up with on quiet evenings, we’re here to help you choose a furry friend who complements your daily life. Our diverse selection of pets ensures that no matter your pace, space, or personality, the right four-legged companion is waiting just for you.
                </p>
            </div>
            <div class="box">
                <img src="./uploads/Index/index_dog.jpg" alt="Second Photo">
            </div>
        </div>
</body>
</html>
