@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\home.css">
    <title>Home</title>
</head>
<body>
    <div class="content">
        <div class="box-container">
            <div class="box">
                <img src="./uploads/Index/index_cat.jpg" alt="First Photo">
            </div>
            <div class="box box-content">
                <h1 class="centered-title">Find your perfect pet match!</h1>
                <p>
                    At <span class="highlighted-text">FurEver Together</span>, we believe that adopting a pet is more than just finding a furry friend—it’s about finding a true companion who fits your unique personality and lifestyle. Every person has their own rhythm, energy, and way of connecting with the world, and the same goes for every pet. That’s why we’ve designed a thoughtful matching process that goes beyond looks and basic preferences.
                </p>
            </div>


        </div>
        <div class="adoption-info">
            <p>ADOPTIONS IN 2024: <span id="adoption-count">32</span></p>
            <p>ADOPTIONS SINCE 2015: <span id="adoption-count">1,204</span></p>
            <p>SPAYS/NEUTERS FACILITATED IN 2024: <span id="adoption-count">57</span></p>
            <p>SPAYS/NEUTERS FACILITATED SINCE 2024: <span id="adoption-count">3,345</span></p>
        </div>

        <div class="box-container">
            <div class="box box-content">
               
            </div>
            <div class="box">
                <img src="./uploads/Index/index_dog.jpg" alt="Second Photo">
            </div>
        </div>
</body>
</html>
