@using Microsoft.AspNetCore.Identity
@using FurEver_Together.DataModels

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FurEver Together</title>
    <link rel="stylesheet" href="\css\shared.css">
    <link rel="icon" type="image/png" href="/uploads/Logo/Icon.png" />
</head>
<ul class="navbar-nav" style="list-style-type:none; display: flex; align-items: center;">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <div class="profile" style="background-image: url('/uploads/Logo/profile_picture.png');"></div>
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0 logout-button">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
<style>
    .profile
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }
</style>