@{
    ViewData["Title"] = "Volunteer Request Submitted";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/volunteer.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="volunteer-container submitted-container">
        <div class="title">Volunteer Request Submitted</div>
        <div class="center-text">
            <p>Our staff will analyze your request and you'll get a response from us in no time. </p>
            <p>Thank you for your interest and support!</p>
        </div>
    </div>
</body>
</html>
