@{
    ViewData["Title"] = "Volunteer";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\volunteer.css">
    <title>Volunteer</title>
</head>
<body>
    <div class="volunteer-container">
        <div class="title">Volunteer</div>
        <div class="volunteer-info">
            <div class="center-text">
                <p>Thank you for your interest in volunteering at FurEver Together Animal Adoption Center! Please fill out the form below to get started.</p>
            </div>
            <form action="" method="post">
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" placeholder="Enter your message here"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>