@{
    ViewData["Title"] = "Support";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\support.css">
    <title>Support</title>
</head>
<body>
    <div class="support-container">
        <div class="title">Support</div>
        <div class="box">
            <h2>PayPal</h2>
            <p>
                You can help stop the suffering of dogs and cats by making a one-time or regular donation to our
                programs.
            </p>
            <button class="button">Donate via PayPal</button>
        </div>
        <div class="box">
            <h2>Apple Pay</h2>
            <p>COMING SOON</p>
        </div>
        <div class="box">
            <h2>US Donors</h2>
            <p>We now support text donations for U.S. residents. Text "RESCUE" to 69420</p>
        </div>
    </div>
</body>
</html>
